@use '../App.scss';


.Wrapper2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7));
  
  }
  
  #ContactUs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .FormBox{
    background-color: App.$black-lighter;
    min-width: 60vw;
    min-height: 80vmin;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 1vw;
    margin-right: 1vw;
    align-self: flex-start;
  
    .FormMain{
      display: grid;
      grid-template-columns: 12vw 12vw 12vw 12vw 12vw ;
      grid-template-rows:  20vmin 20vmin 20vmin ;
      align-items: center;
  
      
  
  
    }
    
  
    .FormMail{
      font-family: Arial, Helvetica, sans-serif;
      grid-row: 2 / 3;
      grid-column: 1 / 3;
      
  
  
  
  
      .email, .name, .contents{
        padding: 10px 12px;
        background: App.$black-basic;
        color: App.$gray-lighter;
        border: App.$gray-basic;
        border-width: 1px;
        border-style: solid;
        margin: 5px;
        min-width: 20vw;
        min-height: 2vw;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        resize: none;
        letter-spacing: 1px;
        box-sizing: border-box;
        align-self: center;
  
  
  
        input {
          border: none;
          background: transparent;
  
          &:focus{
            background: transparent;
          } 
        }
      }
  
      .contents{
        min-height: 10vw;
    }
    .send{
      min-width: 20vw;
      min-height: 2vw;
      
      .SendIcon{
        transform: rotate(30deg);
        border: App.$black-basic;
      }
  
    }
  
  }
  
  }
  
  .Contact{
    background-color: App.$black-lighter;
    min-width: 20vw;
    min-height: 80vmin;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 1vw;
    margin-right: 1vw;  
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
  
  
  
  
  }
  
  .Discord{
    min-height: 75vmin;
    min-width: 18vw;
  }
  